html {
    background: #fff;
    height: 100%;
}
html, body {
    background-color: #FFF;
    color: #212121 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
}
header {
	min-height: 46px;
	width: 100%;
}
.shadow {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26) !important;
}
.logo img{
	margin: 1px 5px;
	float: left;
}
.menu {
	float: left;
}
.menu ul li {
	display: inline;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	padding: 0 5px;
}
.menu ul li a {
	color: #666;
}
.menu ul li a:hover {
	color: #337ab7;
}
.menu ul {
	margin: 13px 0;
	padding: 0;
}
.body {
	background-color: #EEE;
}
.modal {
	width: 210px;
	margin: 0 auto;
	display: block;
}
.modal h2 {
	text-align: center;
	color: #666;
}
.modal input {
	margin: 5px 0;
}
.btn-auth {
	background-color: #2196F3;
    border: none;
    color: #fff;
    padding: 4px 68px;
    margin: 5px 0;
}
.btn-reg {
	background-color: #2196F3;
    border: none;
    color: #fff;
    padding: 4px 34px;
    margin: 5px 0;
}
.adm-auth input, .user-auth input, .adm-reg input, .user-reg input {
	padding-left: 5px;
}
.adm-auth input, .user-auth input {
	width: 189px;
}
.adm-reg input, .user-reg input {
	width: 208px;
}
.captcha {
	padding-left: 45px;
}
#user-reg {
	display: none;
}
.user-auth {
	display: none;
}
form .form-group {
    text-align: left;
    letter-spacing: 2px;
    color: #888;
}
.form-group {
    display: block;
    margin-bottom: 20px;
}
.main_form button {
    border: none;
    color: #fff;
    line-height: 40px;
    padding: 0 25px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    float: right;
}
form button {
    background-color: #3EACA8;
    letter-spacing: 2px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-group .color_element {
    font-weight: 700;
    font-size: 18px;
}
.color_element {
    color: #3EACA8;
}
.form-group input, .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent;
}
form input, form textarea {
    letter-spacing: 2px;
}
.text-danger {
    color: #3EACA8;
}
.form-group .text-danger {
    font-size: 11px;
    margin-top: 5px;
    display: block;
}
.main_form {
    margin-top: 20px;
}
.text-danger li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
.form-group .text-danger {
    font-size: 13px;
    margin-top: 5px;
    display: block;
}
.form-group .text-danger ul, .form-group .text-danger li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.stats {
    float: right;
    margin: 13px 40px 10px 0;
}
.logout {
    position: absolute;
    top: 8px;
    left: 550px;
    background-color: #2196F3;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 15px;
}
.main {
    margin-top: 20px;
}
.header-video{
    margin: 0px;
}
.video{
    margin: 7px 0;
}
.alert{
    float: left;
    margin: 0 20px 20px 0;
}
/*-------ADMIN----------*/
body table td{
    padding: 5px;
}
tr{
    border: 1px solid #FFF;
}
.title-add {margin: 7px 0 7px 30px; width: 300px;}
.date-add {margin: 7px 0 7px 38px;}
.video-add {margin: 7px 0 -93px 20px; width: 305px; height: 100px;}
.btn-add {margin: 105px 0 0 280px; padding: 3px 10px;}
